@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

body, html {
  --bg-1: #282c34;
  --paradise-pink: #e54f6d;
  --yellow: #ffff00;
  --saffron: #f8c630;
  --mint: #3ab795;
  --celadon: #a0e8af;
  --bg-2: #434F66;
  background-color: var(--bg-1);
  color: white;
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  height: 100%;
}

#root {
  height: 100%;

}
.landscape {
  height: 100%;
  display: grid;
  grid-template: 
    "date time" 15%
    "items items" auto / 50% 50%; /* rows / columns */ 
  place-items: center;
}

.portrait {
  height: 100%;
  display: grid;
  grid-template: 
    "date time" 15%
    "items items" auto / 50% 50%; /* rows / columns */ 
  place-items: center;
}

.date {
  grid-area: date;
  color: var(--yellow);
  font-size: 10vmin;
}

.time {
  grid-area: time;
  color: var(--yellow);
  font-size: 10vmin;
}

.calendaritems {
  grid-area: items;
  width: 100%;
  height: 100%;
}

.countdown {
  font-size: 3em;
  padding: 2vh;
}

.calendaritem {
  display: grid;
  width: 90%;
  margin: 3%;
  padding: 0 3% 0 3%;
  color: white;
  font-size: 6vmin;
  line-height: 2em;
  background-color: var(--bg-2);
  border: 1px solid var(--bg-2);
  border-radius: 1vh;
}

.calendaritem_landscape {
  grid-template-areas:
  "start end label countdown";
  grid-template-columns: 2fr 2fr 4fr 3fr;

}

.calendaritem_portrait {
  grid-template-areas:
    "start end countdown"
    "label label     countdown";
  grid-template-columns: 1fr 2fr 1fr;
}

.portrait .calendaritem_name {
  grid-area: label;
  padding: 0 2vw 0 0;
}

.landscale .calendaritem_name {
  grid-area: label;
  padding: 0 2vw 0 2vw;
}

.calendaritem_start {
  grid-area: start;
  color:var(--yellow);
}
.calendaritem_finish {
  grid-area: end;
  color:var(--yellow);
}
.calendaritem_countdown {
  grid-area: countdown;
  text-align: center;
}

fieldset {
  display: grid;
  grid-template-columns: auto;
  font-size: 1.5em;
  padding: 0.2em;
  margin: 0.2em;
  grid-gap: 0.2em;
}

fieldset input {
  font-size: 1em;
}

fieldset input[type='button'] {
  background-color: #ccccff;
}